<!-- <link rel="stylesheet" type="text/css" href="./assets/vendors/bootstrap/css/bootstrap.min.css">
<script>
    function validation() {
        var newPassword = document.forms["resetForm"]["newPassword"].value;
        var confirmPassword = document.forms["resetForm"]["confirmPassword"].value;
        if(newPassword == confirmPassword) {
          window.alert("Your password has been reset.");
          return true;
        } else {
          window.alert("Passwords entered are not the same.");
          return false;
        }
    }
</script>
<body> <form name="resetForm"  action = "/saveNewPassword" onsubmit="return validation()" method = "post">
<div class="row">
  <div class="col-lg-12">
    <div class="form-group">
      <div class="col col-2" style="padding-left: 2px;">
          <label for="email">New password:</label>
      </div>
      <div class="col col-md-3" style="padding-left: 2px;">
        <div class="input-group mb-3">
            <input  id="newPassword" type="password" name="newPassword" class="form-control"/>
             
        </div>
        
      </div>
    </div>

  </div>
</div>
<div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <div class="col col-2" style="padding-left: 2px;">
            <label for="email" >Confirm new password:</label>
        </div>
        <div class="col col-md-3" style="padding-left: 2px;">
            <div class="input-group mb-3">
     
            <input id="confirmPassword"  type="password" name="confirmPassword" class="form-control"/> 
            </div>

        </div>
      </div>

    </div>
  </div>
<div class="row">
  <div class="col-lg-12">
    <div class="form-group">
      <div class="col col-2">

      </div>
      <div class="col col-md-8" style="padding-left: 2px;">
          <button type="submit" class="btn btn btn-primary"  value="Reset password">Reset Password</button>
      </div>
    </div>
  </div>
</div>

</form> </body> -->
<body>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
<script>
    function validation() {
        var newPassword = document.forms["resetForm"]["newPassword"].value;
        var confirmPassword = document.forms["resetForm"]["confirmPassword"].value;
        if(newPassword == confirmPassword) {
          window.alert("Your password has been reset.");
          return true;
        } else {
          window.alert("Passwords entered are not the same.");
          return false;
        }
    }
    function onNewPasswordViewClicked() {
      var newPassword = document.getElementById("newPassword");
      console.log(newPassword);
      if(newPassword.type === "password") {
        newPassword.type = "text";
      } else {
        newPassword.type = "password";
      }
    }
    function onConfirmPasswordViewClicked() {
      var confirmPassword = document.getElementById("confirmPassword");
      if(confirmPassword.type === "password") {
        confirmPassword.type = "text";
      } else {
        confirmPassword.type = "password";
      }
    }
    
</script>
<div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-5">
                  <img src="assets/img/KumtorLogo.png" class="center" style="height: 95px;">
          </div>
          <div class="col-md-5">
              <span class="cat__core__title" >
                      <h2 style="padding-top: 22px">New Password</h2>
                    </span>
      </div>
              <div style="padding-top: 12px" class="col-md-2">
                  <button style="float: right" class="fa fa-times btn btn-light btn-lg" type="button" (click)="onBackButtonClicked()">Close</button>
              </div>
          
      </div>
      </div>
      <div class="card-body">
          <span class="cat__core__title" style="margin-left: 9px;">
            <strong>New Password Form</strong>
          </span>
        </div>
      <div class="card-body" style="height: -webkit-fill-available;">
        <div class="cat__content">
      <h5>Please enter a new password:</h5>
          <br>
        <form  name="resetForm"  action = "/saveNewPassword" onsubmit="return validation()" method = "post">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <div class="col col-2" style="padding-left: 2px;">
                      <label for="email">New password:</label>
                  </div>
                  <div class="col col-md-3" style="padding-left: 2px;">
                    <div class="input-group mb-3">
                        <input type="password" name="newPassword" id="newPassword" class="form-control"/>
                        <!-- <input type="text" class="form-control" name="newPassword" id="newPassword" placeholder="Password" aria-describedby="basic-addon2"> -->
                        <div class="input-group-append">
                            <button type="button" class="btn btn-outline-light fa fa-eye" style="height:45px" id="basic-addon1" onclick="onNewPasswordViewClicked()"></button>
                          </div>      
                    </div>
                    
                  </div>
                </div>
  
              </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                  <div class="form-group">
                    <div class="col col-2" style="padding-left: 2px;">
                        <label for="email" >Confirm new password:</label>
                    </div>
                    <div class="col col-md-3" style="padding-left: 2px;">
                        <div class="input-group mb-3">
                  <!-- <input   *ngIf="confirmPasswordViewFlag" type="text" class="form-control" name="confirmPassword" placeholder="Password" aria-describedby="basic-addon3">                              -->
                        <input type="password" name="confirmPassword" id="confirmPassword" class="form-control"/>
                            
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-light fa fa-eye" style="height:45px" id="basic-addon2" onclick="onConfirmPasswordViewClicked()"></button>
                              </div>      
                        </div>

                    </div>
                  </div>
    
                </div>
              </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <div class="col col-2">
  
                  </div>
                  <div class="col col-md-8" style="padding-left: 2px;">
                      <button type="submit" class="btn btn btn-primary"  value="Reset password">Reset Password</button>
                  </div>
                </div>
              </div>
            </div>
          
        </form>
        </div>
      </div>
    </div>
  </div>
</body>
