<div class="container-fluid">
  <!-- START: ecommerce/cart-checkout -->
  <section class="card">
    <!-- <div class="card-header">
      <div class="row">
      <div class="col-md-7">
          <span class="cat__core__title" style="padding-top: 22px">
                  <h2  style="padding-top: 22px; text-align: right">Component Reports</h2>
                </span>
      </div>
      <div class="col-md-5">
          <img src="/assets/img/MinetellVerticalLogo.png" width="120px" height="35" style="float: right;">
      </div>

      </div>
    </div> -->

    <div class="card-header">
        <div class="row">
            <div class="col-md-5">
                    <img src="assets/img/KumtorLogo.png" class="center" style="height: 95px;">
            </div>
            <div class="col-md-5">
                <span class="cat__core__title" >
                        <h2 style="padding-top: 24px">Component Reports</h2>
                      </span>
        </div>
                <div style="padding-top: 12px" class="col-md-2">
                    <button style="float: right" class="fa fa-times btn btn-light btn-lg" type="button" (click)="onBackButtonClicked()">Close</button>
                </div>
            
        </div>
    </div>
    <div class="card-body" style="height: -webkit-fill-available;">
      <div class="cat__ecommerce__cart">
        <div id="cart-checkout" class="cat__wizard mb-5">

          <section>
            <div class="row">
              <div class="col-md-12">
                <form submit1="()">
                  <h4 class="text-black mb-3">
                    <b>General Requirements</b>
                  </h4>
                  <br> 
                   <!-- <select class='btn btn-lg btn-default form-control' required [(ngModel)]='inspectionType' 
                       name="inspectionType" style="width:100%" (ngModelChange)="onTypeChange($event)">
                       <option class='option form-control'  disabled>Please Select </option>
                       <option class='option form-control' *ngFor='let cc of criticalControl' [value]="cc.id">{{cc.cc_name}}</option>
                        
                     </select> -->
                  <!-- <br> <br> -->
                  <!-- <select class='btn btn-lg btn-default form-control' required [(ngModel)]='inspectionDetails' 
                       name="inspectionDetails" style="width:100%">
                       <option class='option form-control'  disabled>Please Select </option>
                       <option class='option form-control' *ngFor='let comp of componentList' [value]="comp.id">{{comp.perf_name}}</option>
 
                     </select> -->
                <div class = "row">
                  <div class="col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <div style="font-size:large;"><b>Job Task:</b></div>
                  <select style="font-size:large;width:100%" class="btn btn-sm form-control" [(ngModel)]="inspectionType" name="inspectionType" (ngModelChange)="onTypeChange($event)">
                    <option disabled>Select Job Task</option>
                    <option *ngFor="let cc of criticalControl" [value]="cc.id"> {{cc.cc_name}}</option>
                  </select>
                </div> 
                <div class="col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                  <div style="font-size:large;"><b>Components:</b></div>
                <select style="font-size:large;width:100%" class="btn btn-sm form-control" [(ngModel)]="inspectionDetails" name="inspectionDetails">
                  <option disabled>Select Components</option>
                  <option *ngFor="let comp of componentList" [value]="comp.id"> {{comp.perf_name}}</option>
                </select>
              </div> 
                </div>
                <br><br>

                  <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <div style="font-size:large;"><b>Inspection Date:</b></div>
                    </div>

                    <div class="col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                      <div style="font-size:large;">From:</div>

                      <input [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" [(ngModel)]="fromDate"  class="form-control" name="fromDate" placeholder="Inspection Date">
                      <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time> 
                    </div>
                    <div class="col col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                      <div style="font-size:large;">To:</div>
                      <input [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" [(ngModel)]="toDate" class="form-control" name="toDate" placeholder="Inspection Date">
                      <owl-date-time [pickerType]="'calendar'" #dt4></owl-date-time>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                       
                      </div>
                  </div>
                  <!-- hidden for time being-->
                  <!-- <br>  -->
                  <!-- cc: {{criticalControl | json}} -->
                  <!-- <select class='btn btn-lg btn-default form-control' required [(ngModel)]='inspectionType' 
                       name="inspectionType" style="width:100%" (ngModelChange)="onTypeChange($event)">
                       <option class='option form-control'  disabled>Please Select </option>
                       <option class='option form-control' *ngFor='let cc of criticalControl' [value]="cc.id">{{cc.cc_name}}</option>
                        
                     </select> -->
                  <!-- <br> <br> -->
                  <!-- <select class='btn btn-lg btn-default form-control' required [(ngModel)]='inspectionDetails' 
                       name="inspectionDetails" style="width:100%">
                       <option class='option form-control'  disabled>Please Select </option>
                       <option class='option form-control' *ngFor='let comp of componentList' [value]="comp.id">{{comp.perf_name}}</option>
 
                     </select> -->
                  <br><br>
                  <div class="row">
                    <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <button type="submit" class="btn btn-primary mr-2 mb-2" style="width:150px; height:51px; float:left;text-align:center">Submit</button> -->
                      <div class="col-md-2">
                          <button type="submit" class="btn btn-primary" style="float:left;text-align:center">Submit</button>
                        <!-- <span
                          class="fa fa-angle-right fa-lg" style="margin-left:0.2em;"></span></button> -->
                    </div>
                  </div><br>


                  <br>
                  <br>

                </form>
              </div>
            </div>
          </section>
        <!-- Start of table -->
          <section>
            <div class="invoice-block">
              <div class="table-responsive">
                <table class="table text-right table-striped">
                  <thead class="thead">
                    <tr>
                      <th class="text-left">Name</th>

                      <th class="text-left">Date</th>
                      <th class="text-left">Time</th>
                      <!-- <th class="text-left" *ngIf="inspectionArray[0]?.id === 0">Driver</th>

                      <th class="text-left" *ngIf="inspectionArray[0]?.id === 19">Driver</th>
                      <th class="text-left" *ngIf="inspectionArray[0]?.id === 9">Nurse</th> -->
                      <th class="text-left">Pass/Fail</th>
                    </tr>
                  </thead>
                  <!-- <tbody *ngIf="inspectionArray"> -->
                    <!-- <tbody>
                      <tr style="text-align: center" *ngIf="inspectionArray.length <= 0 ; else elseblock">
                          <td colspan="11">
                              <h3>No inspection report data found</h3>
                          </td>
                      </tr> -->
                    <!-- {{inspectionArray | json}} -->
                    <!-- <tr *ngIf="!inspectionArray">No data found</tr> -->
                    <!-- <ng-template #elseblock> -->
                      <!-- <h1>hello</h1> -->
                    <!-- <tr *ngFor="let inspection of inspectionArray;">
                      <td class="text-left">{{inspection.name}}</td>
                      <td class="text-left">
                        {{
                        inspection.date | date
                        }}
                      </td>
                      <td class="text-left">
                        {{
                        inspection.date | date: 'HH:mm:ss'
                        }}
                      </td>
                      <td class="text-left" *ngIf="inspection.id === 19">
                        {{
                        inspection.driverName
                        }}
                      </td>
                      <td class="text-left" *ngIf="inspectionArray[0]?.id === 0">
                          {{
                          inspection.driverName
                          }}
                        </td>
                      <td class="text-left" *ngIf="inspection.id === 9">
                          {{
                          inspection.nurseName
                          }}
                        </td>
                      <td class="text-left" [ngStyle]="{'background-color': inspection.color,'color': 'white'}">
                        <b>{{inspection.status}}</b>
                      </td> -->
                    
                    <!-- </tr> -->
                  <!-- </ng-template>
                  </tbody> -->
                </table>
              </div>
            </div>
          </section> 
<!-- End of table -->
</div>
</div>
</div>
</section>
</div>