<!-- <simple-notifications  [options]="options">
        {{notify | json}}
      </simple-notifications> -->
      
      <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
          <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
<mat-dialog-content>
<body>

  <script>
 
    console.log("script");
    var dimensionValue = '1';
    function customSession() {
      return new Date().getTime() + '.' + Math.random().toString(36).substring(5);
    }
    ga('set', 'dimension1', customSession());
    ga('send', 'pageview');
    ga(function (tracker) {
      // Logs the tracker created above to the console.
      // console.log('UserID ', tracker.get('userId'));
      console.log('SessionID ', tracker.get('dimension1'));

    });
  </script>

  <div class="cat__content">

    <!-- Notification : {{message | async | json}} -->
    <!-- START: pages/login-alpha  style="background-image: url(../../modules/pages/common/img/login/1.jpg)" -->

    <div class="cat__pages__login">

      <form (submit)="onAssessmentSelected()" [formGroup]="form">

        <div class="row .hidden-md-down .hidden-print">
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="cat__pages__login__block__inner ">
              <br>
             
              <div class="cat__pages__login__block__form ">

                <div class="cat__pages__login__block__inner  cat__core__step--info cat__core__step__title" style="text-align:center;padding-top:1.5rem;">
                  Please select your job function and task to continue:
                </div>
                <br>
                <br>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div style="font-size:large">
                      <b>Job Function:</b> 
                    </div>
                    <select class='form-control' required [(ngModel)]='jobFunctionSelected' formControlName="jobFunctionSelected"
                      name="jobFunctionSelected" (ngModelChange)="onJobFunctionSelected($event)" style="width:100%">
                      <option class='option form-control' [value]="jobF" disabled>Please Select </option>
                      <option class='option form-control' *ngFor='let jobF of jobFunction' [value]="jobF.jobFunctionName">{{jobF.jobFunctionName}}</option>
                    </select>
                  </div>
                </div>
                <br>
                <br>
                 
                <div class="row" *ngIf="jobFunctionSelected">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="jobTaskArray">
                    <div style="font-size:large;">
                      <b>Job Task:</b>
                    </div>
                  
                      <select class='form-control' required [(ngModel)]='jobTaskSelected' formControlName="jobTaskSelected"
                      name="jobTaskSelected" style="width:100%">
                      <option class='option form-control' [value]="jobT" disabled>Please Select </option>
                      <option class='option form-control' *ngFor='let jobT of jobTaskArray' [value]="jobT.jobTaskName">{{jobT.jobTaskName}}</option>
                      </select>
                   
                   
           
                  
                  </div>
                </div>
                <br *ngIf="jobFunctionSelected === 'Dispatch' && relationship === 'checklist'">
                <br *ngIf="jobFunctionSelected === 'Dispatch' && relationship === 'checklist'">
                <div class="row" *ngIf="jobFunctionSelected === 'Dispatch' && relationship === 'checklist'">


                  <!-- <div class="col-md-4" style="padding-left: 5rem;"> -->
                  <div class="col-md-12">
                    <div style="font-size:large">
                      <b>From:</b>
                    </div> 
                      <select class='form-control' required [(ngModel)]="fromRoutes" name="fromRoutes" formControlName = "fromRoutes" style="width:100%">
                          <option class='option form-control' value="Please Select Source" disabled>Please Select Source</option>
                          <option class='option form-control' [value]="locFrom" *ngFor='let locFrom of fromArray'>{{locFrom}}</option>
                      </select>
                  </div>
                </div>
                <br *ngIf="jobFunctionSelected === 'Dispatch' && relationship === 'checklist'">
                <br *ngIf="jobFunctionSelected === 'Dispatch' && relationship === 'checklist'">
                <div class="row" *ngIf="jobFunctionSelected === 'Dispatch' && relationship === 'checklist' ">
                  <div class="col-md-12">
                      <div style="font-size:large">
                        <b>To:</b>
                      </div>
                      <select class='form-control' required [(ngModel)]="toRoutes" name="toRoutes" formControlName = "toRoutes" style="width:100%">
                          <option class='option form-control' value="Please Select Destination" disabled>Please Select
                              Destination</option>
                          <option class='option form-control' [value]="loc" *ngFor='let loc of toArray'>{{loc}}</option>
                      </select>
                  </div>
                  <div class="col-md-4">
      
                  </div>
              </div>
                <br>
                <br>
                <!-- <div class="row" *ngIf="jobTaskSelected === 'Start Journey' ">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <div style="font-size:large;">
                            <b>Location:</b>
                          </div>
                <select class='btn btn-lg btn-default form-control' required [(ngModel)]='location' 
                  name="location" style="width:100%">
                  <option class='option form-control' [value]="loc" disabled>Please Select Location</option>
                  <option class='option form-control' *ngFor='let loc of locationArray'>{{loc.name}}</option>
                </select>
                </div>
                </div> -->
                <br>
                <br>

                <div class="form-group">

                  <label class="container">Checklist
                    <input type="radio" [(ngModel)]="relationship" value="checklist" formControlName="relation" checked="checked">
                    <span class="checkmark"></span>
                  </label>

                  <label class="container">Assessment
                    <input type="radio" [(ngModel)]="relationship" value="assessment" formControlName="relation">
                    <span class="checkmark"></span>
                  </label>

                  <!-- <label class="container">Permit to Work
                      <input type="radio"  [(ngModel)]="relationship"  value="hotworkpermit"   formControlName="relation">
                      <span class="checkmark"></span>
                    </label> -->

                </div>
                <!--              
                <div class="form-group" >
               
             
                    <input type="radio"  [(ngModel)]="relationship"  value="checklist"  formControlName="relation">Checklist
              
                    <input type="radio"   [(ngModel)]="relationship"  value="assessment"   formControlName="relation"> Assessment
               
                    <input type="radio"  [(ngModel)]="relationship"  value="hotworkpermit"   formControlName="relation"> Permit to Work
                 
                </div> -->
                <br>
                <div class="row" *ngIf="jobFunctionSelected === 'Driver' && jobTaskSelected === 'Vehicle Fit for Purpose'" >
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" >
                    <div style="font-size:large;">
                      <b>Asset ID:</b>
                    </div>
                    <div>
                    <input [(ngModel)]="assetId" type="text" class="form-control data-hj-whitelist"  formControlName="assetId" name="assetId" placeholder="License Plate Number"
                      [ngbTypeahead]="search_assest" >
                      </div>
                  </div>
                </div>
                <div class="row"  *ngIf="jobFunctionSelected === 'Driver' && jobTaskSelected === 'Start Journey'">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div style="font-size:large;">
                      <b>Trip ID:</b> {{tripId}}
                    </div>
                    </div>
                </div>
     
                <div class="row" *ngIf="jobFunctionSelected === 'Nurse'">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div style="font-size:large;">
                      <b>Date: </b>
                      <label> {{date | date:'medium'}}</label>


                    </div>
                  </div>
                  <br>
                  <br>
                  <!-- <div class="centered" *ngIf="showSpinner" >
                      <div class="loader">Loading...</div>
                  </div> -->
                 
                  <!-- <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div style="font-size:large;">
                      <b>Test Number: </b>
                      <label>{{totalTestNumber}}</label>
                    </div>                
                    <br>
                  </div>  
                  -->

                 
                </div>
                <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngIf="(jobFunctionSelected === 'Dispatch' && jobTaskSelected !== 'Close Journey') || jobFunctionSelected === 'Nurse' ">
                  <div style="font-size:large;">
                    <b>Driver Name or ID:</b>
                  </div>
                  <div>
                  <input [(ngModel)]="assetId" type="text" class="form-control data-hj-whitelist" formControlName="assetId" name="assetId" placeholder="Name of Driver or Number"
                    [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatterAsset" required>
                </div>
                  </div>
              </div>
              <div class="row" *ngIf = "jobTaskSelected === 'Close Journey'">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div style="font-size:large;">
                    <b>Trip ID:</b>
                  </div>
                  <div>
                    <input type="text" class="form-control data-hj-whitelist" [(ngModel)] = "tripId" formControlName ="assetId" name="assetId" placeholder="Enter trip id">
                  </div>
                </div>
              </div>
                <br>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <button type="submit" class="btn btn-lg btn-rounded btn-primary btn-block" [disabled]="!form.valid" style="text-align:center">Begin
                      <span class="fa fa-angle-right fa-lg"></span>
                    </button>
                  </div>
                </div>
                <br>
              </div>

              <!-- <button type="button" data-toggle="dropdown" aria-expanded="false" class="btn btn-lg btn-default dropdown-toggle"> Please Select </button>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" role="menu">
                <a class="dropdown-item" href="javascript: void(0)">Deliver Coal</a>
                <a class="dropdown-item" href="javascript: void(0)">Pickup Equipment</a>
                <a class="dropdown-item" href="javascript: void(0)">Do Inventory</a>
              </ul> -->
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- <div class="cat__content">
     <div class="centered" *ngIf="showSpinner" >
        <div class="loader">Loading...</div>
    </div>
  </div> -->
</body>
</mat-dialog-content>
<!-- <router-outlet></router-outlet> -->