<div class="container-fluid">
  <div class="card">
          <div class="card-header">
              <div class="row">
                  <div class="col-md-5">
                          <img src="assets/img/KumtorLogo.png" class="center" style="height: 95px;">
                  </div>
                  <div class="col-md-5">
                      <span class="cat__core__title" >
                              <h2 style="padding-top: 22px">New Asset</h2>
                            </span>
              </div>
                      <div style="padding-top: 12px" class="col-md-2">
                          <button style="float: right" class="fa fa-times btn btn-light btn-lg" type="button" (click)="onBackButtonClicked()">Close</button>
                      </div>
                  
              </div>

          </div>
          <div class="card-body">
              <span class="cat__core__title" style="margin-left: 9px;">
                <strong>New Asset Form</strong>
              </span>
            </div>
              
      <div class="card-body" style="height: -webkit-fill-available;">  
<div class="cat__content">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <div class="col col-2">
            <label for="l0">
              <h5>
                <strong>Asset ID: </strong>
              </h5>
            </label>
          </div>
          <div class="col col-md-8">
            <input [(ngModel)]="newQuestion.assetId" type="text" class="form-control" placeholder="(max. 11 numbers)"> </div>
          <!-- <div class="col-md-2">
              <button (click)="cancelNewQuestion()" type="button" class="btn btn-default btn-block" style="width: 100px">Cancel</button>
          </div> -->
        </div><br>
        <div class="form-group">
          <div class="col col-2">
            <label for="l0">
              <h5>
                <strong>Asset Name: </strong>
              </h5>
            </label>
          </div>
          <div class="col col-md-8">
            <input [(ngModel)]="newQuestion.assetType" type="text" class="form-control" placeholder="(e.g. KGBH 6585)"> </div>
          <!-- <div class="col-md-2">
              <button (click)="cancelNewQuestion()" type="button" class="btn btn-default btn-block" style="width: 100px">Cancel</button>
          </div> -->
        </div><br>
        <div class="form-group">
          <div class="col col-2">
            <label for="l0">
              <h5>
                <strong>Asset Model: </strong>
              </h5>
            </label>
          </div>
          <div class="col col-md-8">
            <input [(ngModel)]="newQuestion.assetModel" type="text" class="form-control" placeholder="(e.g. Van-Ford)"> </div>
          <!-- <div class="col-md-2">
              <button (click)="cancelNewQuestion()" type="button" class="btn btn-default btn-block" style="width: 100px">Cancel</button>
          </div> -->
        </div><br>
      </div>
      <!-- <div class="form-group">
        <label class="col col-md-2 col-form-label" for="l0"> </label>
        <div class="col col-md-7"> </div> -->
        <!-- <div class="row">
            <div class="col-md-2">

            </div> -->
        <div class="col-md-2" style="margin-left: -1px;">
            <button type="button" class="btn btn-default" (click)="onCancelClick()">Cancel</button>
            <button type="button" (click)="saveNewQuestion()" class="btn btn btn-primary">Save&nbsp;</button>
        </div>
        <!-- </div> -->
      
      <!-- End Horizontal Form -->
    </div>
  </div>